#include <windows.h>

101 ICON FIXED PRELOAD icon.ico

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,7,2,0
PRODUCTVERSION 1,7,2,0
FILEFLAGSMASK 0x17L
FILEFLAGS 0x1L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "0c0a04b0"
		BEGIN
			VALUE "Comments",          ""
			VALUE "CompanyName",       "Tales Translations"
			VALUE "FileDescription",   "TOD-ESP"
            VALUE "FileVersion",       "1.0"
			VALUE "InternalName",      "TodESP"
			VALUE "LegalCopyright",    "© Tales Translations 2007-2010"
			VALUE "LegalTrademarks",   "© Tales Translations 2007-2010"
			VALUE "OriginalFilename",  "todesp.exe"
			VALUE "ProductName",       "TOD-ESP"
            VALUE "ProductVersion",    "1.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xc0a, 1200
	END
END
